.regist-admin-container {
    max-width: 400px;
    min-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .regist-admin-list {
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .regist-admin-list h2 {
    border-bottom: 1px solid #4d3939;
    font-size: 20px;
    width: 40%;
    margin-bottom: 10px;
  }

  .regist-admin-list ul {
    width: 60%;
  }

  .regist-admin-list li {
    margin-bottom: 10px;
  } 

  .regist-admin-list table {
    padding: 15px;
    width: 100%;
  } 

  .regist-admin-list table th {
    border-bottom: 1px solid #ccc;
  }

  .regist-admin-list table td {
    border-bottom: 1px solid #ccc;
    padding: 5px;
  }

  .regist-admin-list table tr {
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
  }
  
  .regist-admin-form button {
    margin-top: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .checkbox-group {
    text-align: left;
    margin-top: 20px;
  }
  
  .checkbox-item {
    margin-left: 20px;
  }
  
  .checkbox-item input {
    margin-right: 5px;
  }
  
  .regist-admin-container a {
    color: #007bff;
    text-decoration: none;
  }

.logo-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-container img{
  width: auto;
  height: 50px;
  justify-content: center;
  align-items: center;
  content: url(../../static/img/AbbazonLogo.png);
}

.plans-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  margin: 20px 0;
  align-items: center;
}

.plan-card {
  border: 1px solid #ccc;
  padding-top: 20px; 
  padding-bottom: 20px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
}

.plans-container input[type="text"],
.plans-container input[type="password"],
.plans-container input[type="email"] {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 75%;
}

.plans-container-header {
  text-align: center;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.plans-container-header svg {
  margin-right: 10px;
}

.plans-container-header h1 {
  margin-right: 10px;
}

.plan-card h2 {
  margin-bottom: 10px;
}

.plan-card p {
  margin-bottom: 20px;
}

.plan-card img {
  width: 80%;
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.plan-card button {
  background-color: #007bff;
  width: 80%;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.plan-card button:hover {
  background-color: #0056b3;
}

.referral-question {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.referral-question-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 83%;
}

.referral-question-button-container button {
  margin: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.referral-question button:hover {
  background-color: #0056b3;
}
.referral-question-container {
  width: 75%;
  text-align: center;
}
.referral-question-subtext {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.referral-question-form-button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.referral-question-form-error {
  color: red;
  font-size: 15px;
  margin-bottom: 10px;
}

.referral-question-form-success-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

.referral-question-form-success {
  color: green;
  font-size: 14px;
  margin-right: 10px;
  white-space: nowrap;
}

.referral-question-form-success button {
  width: auto;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.referral-check-button {
  width: 30%;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  padding: 10px;
}