[submodule "backend/abba/config"]
	path = backend/abba/config
	url = https://github.com/Abba-Zone/abba_env.git
[submodule "frontend/config"]
	path = frontend/config
	url = https://github.com/Abba-Zone/abba_env
