.shop-login-container {
  max-width: 400px;
  min-width: 300px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  padding : 0
}

.shop-login-title {
  font-size: 2em;
  margin-bottom: 20px;
  color: #ff5722;
}

.shop-login-logo {
  content: url('../../static/img/AbbazonLogo.png');
  width: 100%;
  height: auto;
}

.shop-login-tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.shop-login-tabs button {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
}

.shop-login-tabs .active {
  border-bottom: 2px solid #007bff;
}

.shop-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-login-input-group {
  padding-top: 10px;
  position: relative;
  margin-bottom: 15px;
  width: 100%;
}

.shop-login-input-group input {
  width: 97%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 30px;
}

.shop-login-input-group .icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.shop-login-checkbox-group {
  text-align: left;
  margin-bottom: 20px;
}

.shop-login-button {
  margin-top: 10px;
  margin-bottom: 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 20px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  background-color: #007bff;
  color: white;
}

.shop-login-button button{
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 50px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.shop-login-signup-button {
  background-color: transparent;
  width: 30%;
  color: #007bff;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #007bff;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

footer {
  font-size: 0.8em;
  color: #777;
}

.shop-login-simple-login-container {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 30px;
}

.shop-login-simple-login-title {
  font-size: 16px;
  font-weight: bold;
}

.shop-login-simple-login-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; /* 간격을 줄임 */
  margin-top: 10px;
}

.shop-login-google-button {
  cursor: pointer;
  margin-bottom: 10px;
  height: 70px;
  width: auto;
  border-radius: 100px;
  content: url('../../static/img/google_logo.svg');
}

.shop-login-kakao-button {
  cursor: pointer;
  margin-bottom: 10px;
  height: 70px;
  width: auto;
  border-radius: 100px;
  content: url('../../static/img/kakao_logo.png');
}

.shop-login-links {
  margin-top: 20px;
  font-size: 0.9em;
  color: #555;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.shop-login-links a {
  color: #555;
  text-decoration: none;
}

.shop-login-links a:hover {
  text-decoration: underline;
}